@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply box-border;
}

a {
  @apply [text-decoration:_inherit];
}

body {
  @apply m-0 min-w-xs;
  @apply bg-white text-slate-900;
  @apply dark:bg-slate-900 dark:text-slate-50;
}

button {
  @apply focus:outline-none cursor-pointer touch-manipulation; /* had focus:ring-3 focus:ring-blue-500/40 */
  &:disabled {
    @apply opacity-50;
  }
}

/*.custom-scroll-thumb {*/
/*  @apply [scrollbar-color:#00E2A7_transparent];*/
/*  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-2.5 [&::-webkit-scrollbar-thumb]:bg-brand-main;*/
/*  @supports (scrollbar-color: black black) {*/
/*    scrollbar-width: thin;*/
/*  }*/
/*}*/

.invisible-scroll {
  @apply [scrollbar-color:transparent_transparent];
  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-0 [&::-webkit-scrollbar-thumb]:bg-transparent;
  @supports (scrollbar-color: black black) {
    scrollbar-width: none;
  }
}

.hide-able {
  @apply grid;
  transition: opacity .15s, outline-color .4s, margin .2s, grid-template-rows .2s, translate .25s;
}

.hiding-animation {
  @apply grid-rows-[0fr] -translate-x-full;
}

.loading-animation {
  @apply opacity-0;
}

.collapsing-animation {
  @apply grid-rows-[0fr];
}

.dialog-container {
  @apply fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-full p-4 grid place-items-center z-30;
}

.dialog-input {
  @apply bg-slate-900 border-b border-slate-500 px-3.5 py-2.5 focus:border-slate-100 focus:outline-none focus:placeholder:opacity-40;
}

.dialog-button {
  @apply flex-1 px-6 py-2 font-semibold rounded;
}

.toast {
  @apply relative top-9 flex flex-col p-4 pb-6 rounded overflow-hidden;

  .toast-progress-container {
    @apply flex absolute bottom-0 left-0 right-0;
  }

  .toast-progress-bar {
    @apply w-full h-2 transition;
  }

  &.error {
    @apply bg-red-500;

    & .toast-progress-container {
      @apply bg-red-700;
    }

    & .toast-progress-bar {
      @apply bg-red-300 [&.timeout]:-translate-x-full;
    }
  }
}

.small-toast {
  @apply flex items-center self-center gap-2 pl-4 pr-5 py-2 rounded;

  &.success {
    @apply text-green-200 bg-green-700/40;
  }
}

.assessment-scroller {
  @apply grid grid-rows-[repeat(11,100%)] overflow-y-scroll scroll-smooth snap-y snap-mandatory outline-sky-500/50 -outline-offset-2 focus:outline-2;
}

.assessment-scroller-overlay {
  @apply absolute inset-0 grid grid-rows-[0fr] pointer-events-none;
  transition: grid-template-rows 0s;

  & .assessment-progress-bar {
    @apply bg-black/25;
  }

  &.animate {
    @apply grid-rows-[1fr];
    transition: grid-template-rows 1.5s linear;
  }
}

.tracker-item {
  @apply outline-2 outline-offset-2 outline-transparent;

  &:after {
    content: '';
    @apply absolute text-[11px] font-medium align-super left-4 top-0 -translate-y-[55%] px-2 text-center rounded opacity-0 transition-opacity duration-300;
  }

  &.reminder{
    @apply outline-yellow-500/30;

    &:after {
      content: 'TODO';
      @apply absolute text-[11px] font-medium text-black align-super left-4 top-0 -translate-y-[55%] bg-yellow-500 px-2 text-center rounded opacity-100;
    }
  }
  &.last-assessed {
    @apply outline-4 outline-green-500/30;
  }
}

@keyframes left-right {
  0% {
    transform: scaleX(1);
  }
  45% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  95% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

.drop-drop-shadow {
  @apply blur-md scale-200 -translate-y-full;
}

[contenteditable] {
  -webkit-user-select: text !important;
  user-select: text !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}