@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  /*color-scheme: light dark;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-slate-900);
}

* {
  @apply box-border;
}

a {
  @apply [text-decoration:_inherit];
}

body {
  @apply m-0 min-w-xs;
  /*@apply bg-white text-slate-900;*/
  /*@apply dark:bg-slate-900 dark:text-slate-50;*/
  @apply bg-slate-900 text-slate-50;
}

button {
  @apply focus:outline-none cursor-pointer touch-manipulation; /* had focus:ring-3 focus:ring-blue-500/40 */
  &:disabled {
    @apply opacity-50;
  }
}

/*.custom-scroll-thumb {*/
/*  @apply [scrollbar-color:#00E2A7_transparent];*/
/*  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-2.5 [&::-webkit-scrollbar-thumb]:bg-brand-main;*/
/*  @supports (scrollbar-color: black black) {*/
/*    scrollbar-width: thin;*/
/*  }*/
/*}*/

.invisible-scroll {
  @apply [scrollbar-color:transparent_transparent];
  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-0 [&::-webkit-scrollbar-thumb]:bg-transparent;
  @supports (scrollbar-color: black black) {
    scrollbar-width: none;
  }

  -webkit-overflow-scrolling: touch;
  & ::-webkit-scrollbar {
    @apply !hidden;
  }
}

.hide-able {
  @apply grid;
  transition: opacity .15s, outline-color .4s, margin .2s, grid-template-rows .2s, translate .25s;
}

.hiding-animation {
  @apply grid-rows-[0fr] -translate-x-full;
}

.loading-animation {
  @apply opacity-0;
}

.collapsing-animation {
  @apply grid-rows-[0fr];
}

.dialog-container {
  @apply fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-full px-4 py-8 grid place-items-center z-30;
}

.dialog-input {
  @apply my-4 bg-slate-900 rounded border-slate-700 px-3.5 py-2.5 focus:outline-1 outline-offset-2 focus:outline-slate-500 focus:placeholder:opacity-30;
}

.dialog-button {
  @apply flex-1 px-6 py-2 font-semibold rounded;
}

.toast {
  @apply relative top-0 flex flex-col p-4 pb-6 rounded overflow-hidden;

  .toast-progress-container {
    @apply flex absolute bottom-0 left-0 right-0;
  }

  .toast-progress-bar {
    @apply w-full h-2 transition;
  }

  &.error {
    @apply bg-red-500;

    & .toast-progress-container {
      @apply bg-red-700;
    }

    & .toast-progress-bar {
      @apply bg-red-300 [&.timeout]:-translate-x-full;
    }
  }
}

.small-toast {
  @apply flex items-center self-center gap-2 pl-4 pr-5 py-2 rounded backdrop-blur;

  &.success {
    @apply text-green-200 bg-green-600/60;
  }

  &.error {
    @apply text-red-200 bg-red-600/60;
  }
}

.scroller-input {
  @apply [container-type:size] absolute inset-0 overflow-y-scroll scroll-smooth snap-y snap-mandatory touch-manipulation z-20;
}

.drop-drop-shadow {
  @apply blur-md scale-200 -translate-y-full;
}

[contenteditable] {
  -webkit-user-select: text !important;
  user-select: text !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);

  &:empty:before{
    content: attr(placeholder);
    @apply pointer-events-none block italic text-slate-500;
  }
}



@keyframes left-right {
  0% {
    transform: scaleX(1);
  }
  45% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  95% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(50%)
  }
  50% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(50%)
  }
}

@keyframes ai-blob-1 {
  0% {
    left: 0;
    top: 0;
    transform: translateX(0) translateY(0);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(12px) opacity(.85);
    background-color: var(--color-sky-500);
    border-radius: 1rem;
  }
  25% {
    left: 100%;
    top: 0;
    transform: translateX(-100%) translateY(0);
    height: 2.25rem;
    filter: blur(10px) opacity(.75);
    border-radius: 2rem;
  }
  50% {
    left: 0;
    top: 100%;
    transform: translateX(0) translateY(-100%);
    width: 2.25rem;
    filter: blur(10px) opacity(1);
    background-color: var(--color-slate-500);
    border-radius: 1rem;
  }
  75% {
    left: 100%;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    height: 2.5rem;
    filter: blur(12px) opacity(.75);
    border-radius: 2rem;
  }
  100% {
    left: 0;
    top: 0;
    transform: translateX(0) translateY(0);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(12px) opacity(.85);
    background-color: var(--color-sky-500);
    border-radius: 1rem;
  }
}

@keyframes ai-blob-2 {
  0% {
    left: 100%;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(10px) opacity(1);
    background-color: var(--color-sky-800);
    border-radius: 1.4rem;
  }
  25% {
    left: 0;
    top: 0;
    transform: translateX(0) translateY(0);
    width: 2.5rem;
    height: 2.25rem;
    filter: blur(12px) opacity(.6);
    border-radius: 2rem;
  }
  50% {
    left: 100%;
    top: 0;
    transform: translateX(-100%) translateY(0);
    width: 2.25rem;
    height: 2.25rem;
    filter: blur(10px)  opacity(.4);
    background-color: var(--color-sky-500);
    border-radius: 1rem;
  }
  75% {
    left: 0;
    top: 100%;
    transform: translateX(0) translateY(-100%);
    width: 2.25rem;
    height: 2.5rem;
    filter: blur(12px)  opacity(.6);
    border-radius: 2rem;
  }
  100% {
    left: 100%;
    top: 100%;
    transform: translateX(-100%) translateY(-100%);
    height: 2.5rem;
    width: 2.5rem;
    filter: blur(10px) opacity(1);
    background-color: var(--color-sky-800);
    border-radius: 1.4rem;
  }
}

@keyframes ai-blob-3 {
  0% {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(16px) opacity(.6);
    background-color: var(--color-amber-800);
    border-radius: 2rem;
  }
  25% {
    left: 75%;
    top: 75%;
    transform: translateX(-75%) translateY(-75%);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(12px) opacity(1);
    background-color: var(--color-slate-500);
    border-radius: 3rem;
  }
  50% {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(16px) opacity(0.4);
    background-color: var(--color-amber-500);
    border-radius: 1rem;
  }
  75% {
    left: 25%;
    top: 25%;
    transform: translateX(-25%) translateY(-25%);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(12px) opacity(.6);
    background-color: var(--color-slate-500);
    border-radius: 2rem;
  }
  100% {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    filter: blur(16px) opacity(.6);
    background-color: var(--color-amber-800);
    border-radius: 2rem;
  }
}